@using System.Security.Claims;

<div class="container">
    <div class="section-header">
        <h2>Solutions For Every Problem</h2>
        <p>At Bodies Pilates I aim to help you find the solution that works best for your goals, body​ and lifestyle.</p>
    </div>
</div>
<section id="pricing">
    <div class="inner-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 price-wrapper">
                    <div class="price-box">
                        <header class="bg-red">
                            <span>MOVE MORE ONLINE STUDIO</span>
                            <div class="price">
                                <p>$25<span>per month OR $250 per year*</span></p>
                            </div>
                        </header>

                        <div class="text">
                            Ideal for people who cannot attend gyms/studios and need instruction and people who travel a lot. Expect long lean muscle tone, better posture and more confidence.
                        </div>

                        <div class="perk">
                            <div class="content">
                                <span>Unlimited access to video library ​</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>New Videos uploaded monthly​</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Member input and suggestions on videos very important</span>
                            </div>
                        </div>

                        <div class="section-header">
                            <a id="paypal-button-container" class="action-button black-reverse-button" data-toggle="modal" data-target="#subscribeModal" href="#">START NOW</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 price-wrapper">
                    <div class="price-box price-pro">
                        <header class="bg-blue">
                            <span>1:1 PILATES SESSIONS</span>
                            <div class="price">
                                <p>$100<span>per hour</span></p>
                            </div>
                        </header>

                        <div class="text">
                            Perfect for people that are new to working out, recovering from an injury, returning from a long break or just want to dig deeper into understanding their body and how to properly move it.
                        </div>

                        <div class="perk">
                            <div class="content">
                                <span>1:1 session with me discussion concerns and goals</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Zoom session with me discussing concerns and goals</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Custom Workout Plan Design</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Full body workout that will leave you feeling stronger, longer and lighter.</span>
                            </div>
                        </div>

                        <div class="section-header">
                            <a class="action-button black-reverse-button" href="/contact">START NOW</a>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 price-wrapper">
                    <div class="price-box">
                        <header class="bg-orange">
                            <span>ONLINE GROUP PILATES</span>
                            <div class="price">
                                <p>$POA<span>per month*</span></p>
                            </div>
                        </header>

                        <div class="text">
                            Ideal for people looking to connect with friends, family or coworkers via exercise. You will enjoy group setting, having fun with friends and family and can expect to feel more confident in your body.
                        </div>

                        <div class="perk">
                            <div class="content">
                                <span>Zoom Group Lessons ​</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>In person group training</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Birthday Parties</span>
                            </div>
                        </div>
                        <div class="perk">
                            <div class="content">
                                <span>Corporate Training​</span>
                            </div>
                        </div>
                        <div class="section-header">
                            <a class="action-button black-reverse-button" href="/contact">START NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    string ro = User.Identity.IsAuthenticated ? "readonly" : string.Empty;
    string fname = @User.Identity.Name;
    string lname = !User.Identity.IsAuthenticated ? string.Empty : @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Surname).Value;
    string email = !User.Identity.IsAuthenticated ? string.Empty : @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email).Value;
}
<!-- Modal -->
<div class="modal fade cust-modal" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscribeModalLabel">MOVE MORE ONLINE STUDIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cust-modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <span>Please select a plan</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="hidden" id="selectedPlan" value="" />
                        <div class="list-group" id="plansList">
                            <a href="#" onclick="selectPlan(1, this);" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">BP Online Monthly</h5>
                                    <small>$25/Month</small>
                                </div>
                                <small>SUBSCRIPTION WILL AUTOMATICALLY RENEW MONTHLY UNLESS OTHERWISE CANCELED BY YOU.</small>
                            </a>
                            <a href="#" onclick="selectPlan(2, this);" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">BP Online Yearly</h5>
                                    <small>$250/Year</small>
                                </div>
                                <small>SUBSCRIPTION WILL AUTOMATICALLY RENEW YEARLY UNLESS OTHERWISE CANCELED BY YOU.</small>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="subcFirstName">First name</label>
                        <input type="text" class="form-control" id="subcFirstName" @ro value="@fname" placeholder="First name">
                    </div>
                    <div class="col">
                        <label for="subcLastName">Last name</label>
                        <input type="text" class="form-control" id="subcLastName" @ro value="@lname" placeholder="Last name">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="subcEmail">Email</label>
                        <input type="text" class="form-control" id="subcEmail" @ro value="@email" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="chkAcceptTerms">
                            <label class="custom-control-label" for="chkAcceptTerms">I UNDERSTAND AND ACCEPT THE TERMS AND CONDITIONS, PRIVACY POLICY AND LIMITATION OF LIABILITY WAIVER OF BODIES PILATES *</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="action-button white-button" data-dismiss="modal">Close</button>
                <button type="button" onclick="return validate();" class="action-button black-button">Proceed to checkout</button>
            </div>
        </div>
    </div>
</div>

<script>
    function selectPlan(plan, sender) {
        $(sender).siblings().removeClass("active");
        $(sender).addClass("active");
        $("#selectedPlan").val(plan);
    }
    function validate() {
        var isValid = true;

        if (!$("#selectedPlan").val()) {
            $("#plansList").addClass("error");
            isValid = false;
        }
        else {
            $("#plansList").removeClass("error");
        }

        if (!$("#subcFirstName").val()) {
            $("#subcFirstName").addClass("error");
            isValid = false;
        }
        else {
            $("#subcFirstName").removeClass("error");
        }

        if (!$("#subcLastName").val()) {
            $("#subcLastName").addClass("error");
            isValid = false;
        }
        else {
            $("#subcLastName").removeClass("error");
        }
        if (!$("#subcEmail").val()) {
            $("#subcEmail").addClass("error");
            isValid = false;
        }
        else {
            $("#subcEmail").removeClass("error");
        }
        return isValid;
    }
</script>